body{
    background-color: grey;
}
.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:#f44336;
    text-align: center;
    padding: 2px;
    display: inline-block;
    margin-left: -4px;
    vertical-align: top;
    margin-top: 4px;
    
}

.r{
    color:white;
    font-family: 'roboto';

}

.estilo{
    width: 300px;
    margin: 0 auto;
    border: 1px solid blue;
    border-radius: 20px;
    /* padding: 20px; */
    /* text-align: center; */
    background-color: beige;
    }

.titulo{
    display: inline-block;
    padding-left: 10px;
    border-bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-family: 'roboto';
}

.titulo2{
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: 'roboto';
}

.date{
    color: gray;
    border-top: -4px;
    margin-top: -4px;
    font-family: 'roboto';
}

.dot{
    display: inline-block;
    color: grey;
    margin-left:6px;
    vertical-align: top;
    
}

.img{
    width: 300px;
    margin-left: 0px;
    
    
}

.text{
    text-align: justify;
    padding:20px;
    font-family: 'roboto';
}

.heart{
    display: inline-block;
    font-size: large;
    color:grey;
    margin-left: 15px;
    
}

.share{
    display: inline-block;
    margin-left: 5px;
    text-size-adjust: 10px;
}

.down{
    display: inline-block;
    margin-left: 210px;
}

.padi{
    padding-left: 20px;

}




