body {
    background-image: url(../img/fondo.jpg);

}

form {
    display: inline-block;
    margin: 5px 87.5px 1px 87.5px;
    padding: 15px;

}

i {font-family: "comic-sans";

}

.botones {
                position: center;
                left: 0;
                top: 100px;
                z-index: 1000;
                font-family: "comic-sans";
               
                font-size: 20px;
            }
                
            .botones {
                list-style: none;
            }
                
            .botones a {
                color:#fff;
                background: #000;
                border-radius: 40%;
                padding: 5px 5px;
                text-decoration: none;
                -webkit-transition:all 800ms ease;
                -o-transition:all 800ms ease;
                transition:all 800ms ease;
            }
                
            .botones .icon1 {
                background:#3b5998;
                margin: 1px -480px 1px 0px;
            }
            .botones .icon2 {background: #d95232;}
            .botones .icon3 {
                background: #00abf0;
                margin: 1px 5px 1px -530px;
            }

            
            
                
            .botones a:hover {
                background: rgb(150, 194, 192);
                padding: 10px 60px;
                border-radius: 80%;
            }   