.singbut{
    background-color: green;
    float: right;

}
.butalign{
    float: right;
}

.singbut:hover{
    background-color: black;
}

.logbut{
    background-color: blue;
    float: right;
}

.logbut:hover{
    background-color: black;
}

.linea{
    background-color: black;

}
.fondo{
    background-color: grey;
}


.serie{
    float: unset;
}
.serie:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.imgstyle {
    width: 200px;
    height: 250px;
    
}
.borde-serie{
    border-radius: 20px;
}
.card{
    border: 0px;
    background-color: transparent;
}

.size {
    height: 250px;
    display: inline-block;
}

.cardborder{
    border-radius: 20px;
    border-color: black;
}


.texto{
    display: inline-block;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.center{
    text-align: center;
}

.back{
    background-color: grey;
}

.inline{
    display: inline-block;
}

.search:hover {
    text-shadow: 0px 2px 15px #CECECE;
}

.wcolor{
    background-color: white;
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

  .textbox{
      width: 300px;
      height: 200px;
      
  }

  .titlebox{
      width: 300px;
  }

  .butpost{
      float: inline-end;

  }